.form-info{
    margin-top:100px;
    margin-bottom:50px;
}
.signUp-title{
    width: 100%;
    height: 44px;
    line-height: 44px;
    color: #fff;
    background-color: #2078d9;
    font-size: 24px;
    text-align: center;
}
.signUp-itemName{
    width:100%;

    color:#333;
    text-align: center;
    overflow: hidden;
}
.signUp-itemName li{
    float:left;
    width:100%;
    height:40px;
    line-height: 40px;
    margin-top:15px;
    background: #e4e1e1;
    font-size: 18px;
    font-weight: 700;
    cursor:pointer;
    border:1px solid #2078d9;


}
.signUp-itemName li:hover{
    color:#2078d9;
    text-decoration: underline;
    background-color:#fffafa;
}
@media screen and (max-height: 768px){
    .form-info{
        margin-top:40px;
        margin-bottom:40px;
    }
}