@media screen and (max-width: 768px){
    .signUp-online{
        height:40px;
    }
    .signUp-online li{
        width:50%;
        line-height:40px ;
    }
    .signUp-online li:first-child::after{
        height:30px;
        top:5px;
    }
    .content-title-wrapper{
        margin-top:15px;
        margin-bottom:15px;
    }
    .content-title-wrapper .title-name{
        font-size:20px;
    }
    .content-title::before,.content-title::after{
        width:80px;
    }
    .content-title::before{
        left:-115px;
    }
    .content-title::after{
        right:-115px;
    }
    .qth-description{
        padding-left:0;
        padding-top:15px;
    }
    .qth-description p{
        font-size: 16px;
    }
    .videoNews-additional{
        margin-top:0;
    }
    .newsT-publisher{
        padding-right:5px;
    }
    .new-module{
        margin-top: 20px;
    }
    .newsT-content{
        height:400px;
    }
    .news-tracking{
        height:440px;
    }
    .newT-tip{
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    .map-zone{
        height:200px;
    }
    .unitHeadName{
        height:40px;
        line-height: 40px;
        font-size: 20px;
    }
    .zzw-info-detail .zzw-info-items{
        font-size:12px;
    }
    .contact-title{
        width:40px;
    }
    .contact-name{
        height:60px;
    }
    .zzw-info-items:first-child{
        height:60px;
    }
    .zzw-info-items{
        line-height: 30px;
    }
    .zzw-info-box .container{
        padding:0;
    }
    .zzw-info-box .col-xs-4{
        padding-left:0;
    }
    .zzw-code-wrapper{
        width:100px;
    }
    .zzw-code-wrapper img{
        max-width: 100%;
    }
    .zzw-code-tip{
        margin-bottom:10px;
        font-size: 16px;
    }
    .media-support,.attend-unit{
        margin-top:30px;
    }
    .oldNews-title{
        height:40px;
        line-height: 40px;
    }


}